/* src/assets/css/Footer.css */

.footer {
  background-color: #102f5b; /* Updated background color */
  color: white;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer a:hover {
  color: #14cdc8; /* Hover color */
}

.footer hr {
  height: 2px;
  background-color: white;
  border: none;
  outline: none;
}

.footer p {
  margin: 0;
}

.footer .social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.footer .social-icons a:hover {
  transform: scale(1.1); /* Slight zoom on social icons */
  transition: transform 0.3s ease;
}
